.contact {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4xl);
  align-items: center;
  width: 100%;
}

.contactFormSection {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 800px;
}

@media (max-width: 1024px) {
  .contactFormSection {
    max-width: 100%;
  }
}

